body {
    font-family: 'Roboto', sans-serif;
        color: #434455;
        background-color: #ffffff;
        margin:0;
}

a {
    text-decoration: none;
    font-style: normal;
}

.contact-list-item {
    list-style: none;
}

.header {
    background-color: #FFFFFF;
    opacity: 1;
}

.nav-list {
    list-style: none;
}

.nav-list-item .nav-link:hover,
.nav-list-item .nav-link:focus {
    color: #404bbf;
}
.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 0.3s ease;
}
 .nav-link:hover,
 .nav-link:focus {
     color: #404bbf;
 }

.contact-link {
    color:  #434455;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;

}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-contacts {
    font-style: normal;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    letter-spacing: 0.03em;

}

.logo-accent {
    color:#2e2f42;
}


.hero-section {
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-style: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    
}

.hero-button {
    background-color: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF; }

.benefits-section-title {
       text-transform: capitalize;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.benefits-list {
    list-style: none;
}

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#434455;
}

.team-section {
    background-color: #F4F4FD;
}

.team-item {
    background-color: #ffffff;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;

}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.team-list {
    list-style: none;

}

.portfolio-title {
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;

}

.portfolio-list {
    list-style: none;
}

.portfolio-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}






.footer {
    background-color: #2e2f42;
    
            
 }

 .footer-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        text-transform: uppercase;
        text-decoration: none;
        color: #4d5ae5;
        letter-spacing: 0.03em;
 }

 .logo-accent-footer {
    color: #f4f4fd;
 }

 

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
 }

 .nav-list-item:first-child .nav-link:hover,
 .nav-list-item:first-child .nav-link:focus {
     color: #404bbf;
 }
